body {
  display: flex;
  flex-direction: column;
}

button {
  margin: 0 auto 0 0 ;
}

.row-div {
  display: flex;
}

.row-div > div {
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  padding: 20px;
  background-color: transparent;
  transition: 0s 180s;
}

.row-div > div:hover {
  background-color: lightblue;
  transition: 0s;
}