button {
  margin: 0 auto 7px;
  display: block;
}

#container {
  width: 95vw;
  height: 95vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.row-div {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.row-div > div {
  border-width: 1px;
  border-style: solid;
  border-color: blue;
  padding: 1px;
  background-color: transparent;
  transition: 0s 180s;
  flex: 1;
}

.row-div > div:hover {
  background-color: lightblue;
  transition: 0s;
}